In [1]:
%pylab inline
import os
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd
import seaborn as sns

from smile.log import log2dl
from smile.log import log2csv

Populating the interactive namespace from numpy and matplotlib

In [2]:
df = pd.DataFrame(log2dl('C:/Users/Michael Gravina/Desktop/Transfer/CompMem/Projects/Lifelogging/Relive/data/test000/log_relive_2.slog'))  # Makes the slog into a dataframe

df.head()  # Show the first 5 records of the dataframe

#df[x:y]  # Show records x to y of the dataframe (remember these are indices, so they start at 0)

#df['column'][x]  # Show xth record's entry in the specific field "column"

#df.to_csv('spreadsheetname.csv')  # Save out the dataframe as a csv spreadhseet

#df2 = pd.read('spreadsheetname.csv')  # Read a csv spreadsheet back into a dataframe

,img,log_num,log_time,resp_remember,resp_vivid,rt_remember,rt_vivid,trial_num
0,image5.jpeg,0,16.915094,J,J,0.886764,2.202861,1
1,image2.jpeg,0,32.020494,F,J,1.148645,1.221990,2
2,image21.jpeg,0,46.006836,J,F,0.532556,0.722090,3
3,image19.jpeg,0,59.255608,J,F,0.569153,0.871668,4
4,image25.jpeg,0,72.287748,F,J,0.904206,0.941513,5